 .container-content-card{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap; 
    background-color: #E6CECE;
   
}


 .container-alarmas{
    background-color: #e01d1d;
    height: 350px;
    width: 550px;
    margin-top: 20px;
   
} 

 .container-camaras{
    background-color: #52c425;
    height: 350px;
    width: 550px;
    margin-top: 20px;
} 

.container-accesorios{
    background-color: #234ec4;
    height: 350px;
    width: 550px;
    margin-bottom: 20px;
} 

 .container-comunicadores{
    background-color: #d60397;
    height: 350px;
    width: 550px;
    margin-bottom: 20px;
} 

 .img-content{
    width: 100%;
    height: 100%;
    object-fit: cover; 
} 

@media (max-width: 767px) {
    .container-alarmas{
       margin-top: 20px;
    }
    
    .container-camaras{
       margin-top: 0px;
    }
    
    .container-accesorios{
      margin-bottom: 0px;
    }
    
    .container-comunicadores{
      margin-bottom: 20px;
    } 
  }
  
  
  
  
  
  
  