 .container-content-card{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap; 
    background-color: #E6CECE;
}

.container-alarmas {
    position: relative;
    z-index: 5;
    height: 350px;
    width: 550px;
    color: black;
    margin-top: 20px;
}
  
  .container-alarmas::after {
      content: "";
      position: absolute; 
      z-index: -1; 
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url('../../image/img-kit-alarma.jpg') center center;
      opacity: 0.4;
  }

.container-camaras{
    position: relative;
    z-index: 5;
    height: 350px;
    width: 550px;
    color: black;
    margin-top: 20px;
} 

.container-camaras::after {
    content: "";
    position: absolute; 
    z-index: -1; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../../image/img-camaras-content.jpg') center center;
    opacity: 0.4;
}


.container-comunicadores{
    position: relative;
    z-index: 5;
    height: 350px;
    width: 550px;
    color: black;
    margin-bottom: 20px;
} 

.container-comunicadores::after {
    content: "";
    position: absolute; 
    z-index: -1; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../../image/img-comunicador-content.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
}

.container-accesorios{
    position: relative;
    z-index: 5;
    height: 350px;
    width: 550px;
    color: black;
    margin-bottom: 20px;
} 

.container-accesorios::after {
    content: "";
    position: absolute; 
    z-index: -1; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../../image/img-accesorios-content1.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .7;
}

.content-card{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.icon-content{
  font-size: 80px;
 
}

.text-content{
  font-size: 30px;
  font-weight: bolder;
}

.container-buttom-content{
    position: absolute;
    margin-top: 130px;
}

/* button */

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #2e8ee9;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #000000;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #2e8ee9;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }

@media (max-width: 767px) {
    .container-alarmas{
       margin-top: 20px;
    }
    
    .container-camaras{
       margin-top: 0px;
    }
    
    .container-accesorios{
      margin-bottom: 0px;
    }
    
    .container-comunicadores{
      margin-bottom: 20px;
    } 
  }
  
  
  @media (max-width:1115px) {
    .container-camaras{
        margin-top: 0px;
     }

     .container-comunicadores{
        margin-top: -20px;
      } 
  }
  
  
  
  