.container-addproduct{
    height: 100vh;
    margin-top: 40px;
}

.form-addproduct{
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: white;
    padding: 3.125em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}

.title-addproduct{
    color: rgb(77, 75, 75);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 0.5em;
}

.input-addproduct{
    width: 100%;
    margin-bottom: 1.25em;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0.8em;
    font-family: 'Inter', sans-serif;
    outline: none;
    background-color: aliceblue;
    color: black;
}

.input-addproduct:focus{
    border: 1px solid #0A2737;
    outline: none;
}

.submit-addproduct{
    width: 20%;
    padding: 0.625em;
    border-radius: 5px;
    color: white;
    background-color: #0A2737;
    border: 1px dashed #0A2737;
    cursor: pointer;
}

.submit-addproduct:hover{
    color: #0A2737;
    background-color: white;
    border: 1px dashed #0A2737;
    cursor: pointer;
    transition: 0.5s;
}

@media (max-width: 768px){
    .form-addproduct {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
      }

      .submit-addproduct {
        width: 50%;
      }
      
     
}




