.container-admin{
    height: auto;
    margin-top: 30px;
}

.title-admin{
    text-align: center;
    font-size: 50px;
}

.description-admin{
    font-size: 25px;
    text-align: center;
}

.container-button-img{
    display: flex;
}

.container-button-admin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.button-delete{
    margin-bottom: 40px;
}

.button-update{
    margin-top: 40px;
}

.img-idadmin{
    width: 700px;
    height: 400px;
    object-fit:scale-down;
    margin-top: 30px;
    margin-left: 30px;
}

@media (max-width: 768px){
    .container-button-img{
        display: flex;
        flex-direction: column;
    }
    
    .img-idadmin{
       margin-left: 0;
       margin-right: 0;
       width: 100%;
    }
     
}