.container-admin-product{
    height: auto;
    width: auto;
    background: #E7EBCC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    padding-top: 40px;
    
}

.buttom-addproduct-admin{
    margin-bottom: 40px;
}

.card-admin{
    background: white;
    width: 1000px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.link-admin{
    text-decoration: none;
}

.container-id-admin{
    color: black;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-img-product{
     width: auto; 
}

.img-admin{
   margin-top: 20px;
}

.container-loading{
    height: 70vh;
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    font-size: 50px;
   
}

.container-notproduct{
    height: 70vh;
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

@media (max-width: 768px){

    .container-admin{
        width: auto;
       
    }

    .card-admin{
       width: 100%;
       
    }

    .container-img-product{
        width: auto;
    } 
    
     .img-admin{
        margin-right: 0;
        margin-left: 0;
        width: 100%;
     }

     .container-notproduct{
       margin-top: 0;
       text-align: center;
    } 
    
     
}


