.container-admin{
    height: auto;
    width: auto;
    background: #E7EBCC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    padding-top: 30px;
    
}

.card-admin{
    background: white;
    width: 1000px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.link-admin{
    text-decoration: none;
}

.container-id-admin{
    color: black;
    width: auto;
}

.container-img-product{
    /* background-color: blue; */
}



@media (max-width: 768px){

    .container-admin{
        width: auto;
       
    }

    .card-admin{
       width: 100%;
       
    }

    .container-button-img{
        width: auto;
        background-color: blue;
        width: auto;
    }
    
    img .img-admin{
       margin-right: 50px;
       margin-left: 0;
     }
     
    
     
}


