.container-modal-delete{
    background: rgb(76, 191, 199);
    width: 600px;
    height: 200px; 
    border-radius: 20px;
    position:absolute; 
    left: 25%;
    top:50%;
}

.text-modal-delete{
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
}

.button-modal-delete{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-delete-modal{
    margin-right: 20px;
}

.button-cancel-modal{
    margin-left: 20px;
}