.container-navbar{
    height: 100px;
    width: 100%;
}

.navbar-superior{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #0A2737;
    height: 40px;
    color: aliceblue;
}

.navbar-inferior{
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: #FFFFFF;
}

.container-logo{
    font-size: 60px;
}

.container-listnavbar{
   
}

.menu-items{
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style: none;
}

.item-navbar{
    margin: 0px 40px;
    cursor: pointer;
    font-size: 25px;
   
}

.link-navbar{
    text-decoration: none;
    color: black;
}

.menu-icon{
    display: none;
}

@media (max-width: 768px){
    .navbar-superior{
        display: none;
    }

    .menu-items {
        display: none;
        position: absolute;
        background-color: #113d0d;
        margin-top: 330px;
        width: 100%;
        z-index: 999;
        padding: 10px;
        height: 200px;
    }
    
    .menu-icon{
        display: flex;
        justify-content: flex-end;
        padding: 20px;
        font-size: 40px;
        color: rgb(0, 0, 0);
    } 

    .menu-items.open{
        display: block;
      } 
}