.container-footer{
    height:350px ;
}

.footer-superior{
    height: 300px;
    background: #0A2737;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.logo-footer{
    font-size: 70px;
}

.footer-inferior{
    height: 50px;
    background: #115E7F;
}

.footer-reserved{
    text-align: center;
    font-size: 20px;
    margin-top: 0;
}

@media (max-width: 768px){
    .footer-superior{
        height: 100vh;
        flex-direction: column;
       
    }
}

